<div class="banner d-flex justify-content-center align-items-center">
  <div class="top-header">
    <h1>🎦 Movie-List Maker 3000 🎦</h1>
  <div class="inner">
    <h2>
      <span id="banner-typed-text"></span>
     </h2>
     <%= link_to "See Lists!", "#lists", class: "btn btn-primary" %>
  </div>
   </div>
</div>

<div class="container">
  <div class="row" id="lists">
    <% @lists.each do |list| %>
        <div class="col-4 my-3">
          <div data-aos="zoom-out-down" class="card" style="width: 18rem;">
            <% filepath = list.photo.attached? ? list.photo : "group-movie" %>
            <%= image_tag filepath, alt: "Theatre Pic" %>
            <div class="card-body">
              <h5 class="card-title"> <%= list.name %> </h5>
              <%= link_to "See more", list_path(list),class: "btn btn-outline-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class= "d-flex justify-content-center align-items-center mb-2">
      <%= link_to "Add a List", new_list_path(@list), class: "btn btn-outline-primary"%>
  </div>

</div>

