<h1>Create a New Bookmark!</h1>
<%= simple_form_for(@list, @bookmark) do |f| %>
  <%= f.input :comment %>
  <%= f.association :movies %>
  <%= f. association :list %>
  <%= f.submit "Create Bookmark"%>
<% end %>
